<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974213657023-fpnfen2ermh181lpa15hl72jnhcrs5gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974213657023-fpnfen2ermh181lpa15hl72jnhcrs5gv</string>
	<key>API_KEY</key>
	<string>AIzaSyCCRKVbsH0VlNqoALgAGRM9xCi4t8IiaLM</string>
	<key>GCM_SENDER_ID</key>
	<string>974213657023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wannabeing.watokApp</string>
	<key>PROJECT_ID</key>
	<string>my-watok</string>
	<key>STORAGE_BUCKET</key>
	<string>my-watok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974213657023:ios:eaa4e7c4ae7eb85085b10a</string>
</dict>
</plist>